{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="{{@blog.url}}/blog/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/blog/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
    Categories
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/community">
        <i class="fa fa-bullseye"></i>Community
    </a>
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/events">
        <i class="fa fa-bullhorn"></i>Events
    </a>
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/labs">
        <i class="fa fa-flask"></i>Labs
    </a>
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/talks">
        <i class="fa fa-quote-left"></i>Talks
    </a>
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/training">
        <i class="fa fa-gears"></i>Training
    </a>
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/videos">
        <i class="fa fa-video-camera"></i>Videos
    </a>
</li>
<li class="drawer-list-item">
    <a href="{{@blog.url}}/blog/tag/work">
        <i class="fa fa-briefcase"></i>Work
    </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/robnet" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/rob-bateman" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
    <a href="http://uk.linkedin.com/in/robnet" target="_blank">
        <i class="fa fa-linkedin"></i>Linkedin
    </a>
</li>
<li class="drawer-list-item">
    <a href="https://www.flickr.com/photos/rob-bateman" target="_blank">
        <i class="fa fa-flickr"></i>Flickr
    </a>
</li>
